extends base

block content
  main.main
    each product in products
      .product
        .product__card
          img.product__image(src='path/to/image1.jpg' alt='product 1')
          h3.product__title= product.name 
          p.product__details= product.description
          p.product__price= ` $${product.price} per person`
          a.product__link(href='#') Details
